html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

.v-app {
    max-width: 90vh; 
    max-height: 50vh; 
    margin: 0 auto; 
    margin-top: 15vh;
    background: transparent;
}

.v-select .v-text-field {
    max-width: 20vh; 
}

.v-data-table {
    max-height: 600px; /* Match the height set in the component */
    overflow-y: auto;  /* Enable vertical scrolling */
}

.table th, .table td {
    white-space: nowrap; /* Prevent text wrapping for better table layout */
}

.v-data-table-header__content{
    font-size: 20px;
    font-weight: bold;
    font-size: 16px;
}
/* .audit-container {
    height:inherit;
    width:inherit;
} */

/* .menu-bar {
    background-color: #1988f7;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .menu-bar p {
    margin-left: 50px;
  }
  
  .item {
    color: white;
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
  }
  
  .item.title {
    font-weight: 600;
  } */
  
  /* .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  } */
  /* .group {
    margin-left: 20px;
    margin-right: 0;
  }
  .group .item.title{
    background: red;
    align-items: right;
  }
  .results {
    background: grey;
    height: 50vh;
  }
  .export {
    background: purple;
  }
  table {
    width: 100%;
    border-collapse: collapse;
   }
   th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f4f4f4;
    }
    .noSearchResults p{
        margin: auto;
        font-size: 40px;
        text-align: center;
    } */

