body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70vh;
    margin: 20vh;
    padding: 0;
    background-color: transparent; /* Background color for the entire page */
    margin-left: auto;
    margin-right: auto;
}

.menu-bar {
    background-color: #1988f7;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .menu-bar p {
    margin-left: 50px;
  }
  
  .item {
    color: white;
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
  }
  
  .item.title {
    font-weight: 600;
  }
  
  .item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .group {
    margin-left: 20px;
    margin-right: 0;
  }
  .group .item.title{
    background: red;
    align-items: right;
  }
  .results {
    background: grey;
    height: 50vh;
  }
  .export {
    background: purple;
  }