<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }}</title>
    <!-- CDNs for vue, vuetify, vuetify css, vuetify icons -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.6.14/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.6.14/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!-- CDNs for axios and papaparse -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

</head>
<body>
    <div id="app">
        <v-app v-if="isAuditOpen" class="v-app">
            <v-container class="py-4" >
                <v-card class="pa-4">
                    <v-card-title class="text-center text-h3 font-weight-bold">{{ siteName }}</v-card-title>
                    <v-card-subtitle>What would you like to search?</v-card-subtitle>

                    <v-select
                        v-model="selectedOption"
                        :items="[cidName, idName]"
                        label="Select Option"
                        class="my-2"
                    ></v-select>
                
                <v-form @submit.prevent="clickSearch" class="my-2">
                    <v-text-field
                        v-model="searchData"
                        :label="'Search system for ' + selectedOption"
                        prepend-inner-icon="mdi-magnify"
                        outlined
                        class=""
                    ></v-text-field>

                    <v-btn type="submit" @click="clickSearch" color="primary" class="search">Search</v-btn>
                    <v-div class="date-range-picker">
                        <v-span class="ml-4 font-weight-bold">Start Date: </v-span>
                        <input type="date" id="start-date" name="start-date" v-model="startDate">
                    
                        <v-span class="ml-4 font-weight-bold">End Date: </v-span>
                        <input type="date" id="end-date" name="end-date" v-model="endDate">
                    </v-div>
                </v-form>


                    
                <v-divider class="my-4 border-opacity-50" :thickness="5"></v-divider>

                    <v-text-field
                        v-model="searchGrid"
                        label="Search table"
                        prepend-inner-icon="mdi-magnify"
                        variant="outlined"
                        hide-details
                        single-line
                    ></v-text-field>

                    <v-data-table class="table elevation-1 my-4"
                        :headers="headers"
                        :items="results"
                        :search="searchGrid"
                        fixed-header
                        item-key="id"
                        :items-per-page-options="[10, 25, 50, 100]"
                    >   
                    <template v-slot:item.amount="{ item }">
                        {{ formatCurrency(item.amount) }}
                    </template>
                        <template v-slot:item.date="{ item }">
                            {{ formatDate(item.date) }}
                        </template>
                        <template v-slot:no-data>
                            <v-alert type="error" class="mt-4 text-h4" v-if="noSearchResults">
                                No results found!
                            </v-alert>
                        </template>
                    </v-data-table>
                    <v-btn @click="clickExport" color="primary" class="mx-2" :disabled="isExportDisabled || pasteeError[0] || pasteeResponse.success ">Export</v-btn>
                    <v-btn @click="closeAudit" color="error" class="mx-2">Close</v-btn>
                    <v-alert  v-if="pasteeResponse.success" type="success" class="mt-4 text-center" >
                        <span>Export successful! Access it at [{{ pasteeResponse.link }}]</span>
                        <v-tooltip text="Copy and paste the url into a browser, download the file, and rename .txt to .csv">
                            <template v-slot:activator="{ props }">
                              <v-icon color="grey-lighten-1" v-bind="props" v-on="on" class="ml-2">
                                mdi-help-circle
                              </v-icon>
                            </template>
                          </v-tooltip>
                    </v-alert>
                    <v-alert v-if="pasteeError[0]" type="error" class="mt-4 text-center">Export failed. Womp womp. Pastee Error: {{ pasteeError[0] }} - {{ pasteeError[1] }}</v-alert>
                </v-card>
            </v-container>
        </v-app>
    </div>

    <script src="script.js"></script>
</body>
</html>
