<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/3.6.14/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.6.14/dist/vuetify.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

</head>
<body>
    <div id="app">
        <v-app v-if="isAuditOpen" class="v-app">
            <v-container class="py-4" >
                <v-card class="pa-4">
                    <v-card-title>{{ siteName }}</v-card-title>
                    <v-card-subtitle>What would you like to search?</v-card-subtitle>

                    <v-select
                        v-model="selectedOption"
                        :items="[cidName, idName]"
                        label="Select Option"
                        class="my-2"
                    ></v-select>
                
                <v-form @submit.prevent="clickSearch" class="my-2">
                    <v-text-field
                        v-model="searchData"
                        label="Search"
                        prepend-inner-icon="mdi-magnify"
                        outlined
                        class="my-2"
                    ></v-text-field>

                    <v-btn type="submit" @click="clickSearch" color="primary" class="my-2 search">Search</v-btn>
                </v-form>
                    
                    <v-text-field
                        v-model="searchGrid"
                        label="Search"
                        prepend-inner-icon="mdi-magnify"
                        variant="outlined"
                        hide-details
                        single-line
                    ></v-text-field>

                    

                    <v-data-table class="table"
                        :headers="headers"
                        :items="results"
                        :search="searchGrid"
                        fixed-header
                        item-key="id"
                        class="elevation-1 my-4"
                        :items-per-page-options="[10, 25, 50, 100]"

                    >   
                        <template v-slot:item.date="{ item }">
                            {{ formatDate(item.date) }}
                        </template>
                        <template v-slot:no-data>
                            <v-alert type="error" class="mt-4 text-h4" v-if="noSearchResults">
                                No results found!
                            </v-alert>
                        </template>
                    </v-data-table>

                    <v-btn @click="clickExport" color="primary" class="mx-2" :disabled="isExportDisabled">Export</v-btn>
                    <v-btn @click="closeAudit" color="error" class="mx-2">Close</v-btn>
                </v-card>
            </v-container>
        </v-app>
    </div>

    <script src="script.js"></script>
</body>
</html>
